<div class="dtitle">同学家长</div>
<div class="dpicture">
    <ul>

        <li onclick="openwindow('@Url.Action("PChat")',1000,500,'同学家长')">
            <dl>
                <dd class="photo">
                    <img src="@Url.Content("~/Content/images/male.png")" border="0" /></dd>
                <dd class="info">孙玫英</dd>

            </dl>
        </li>
        <li onclick="openwindow('@Url.Action("PChat")',1000,500,'同学家长')">
            <dl>
                <dd class="photo">
                    <img src="@Url.Content("~/Content/images/man.png")" border="0" /></dd>
                <dd class="info">郑国强</dd>
                <dd class="msgcount">1</dd>
            </dl>
        </li>
        <li onclick="openwindow('@Url.Action("PChat")',1000,500,'同学家长')">
            <dl>
                <dd class="photo">
                    <img src="@Url.Content("~/Content/images/male.png")" border="0" /></dd>
                <dd class="info">刘志利</dd>
                <dd class="msgcount">3</dd>
            </dl>
        </li>

    </ul>
</div>
<div class="more" onclick="openwindow('@Url.Action("MoreOtherParents")',1000,500,'同学家长')">查看更多</div>
