@*<script data-main="@Url.Content("~/angular/uchome/demo/validatedemo.js")" src="@Url.Content("~/Scripts/require.js")"></script>*@
@{
    Layout = null;
}
@using System.Web.Mvc
@using HomeWork.Model
@model Homework_HwPublish
<link rel="stylesheet" href="@Url.Content("~/content/css/homework.css")">
<style>
    .red {
        color: red;
    }
</style>
@using (Ajax.BeginForm(
    new AjaxOptions()
    {
        HttpMethod = "post",
        Url = @Url.Action("HW_Deploy"),
        UpdateTargetId = "#homework_publish",
        LoadingElementId = "loding",
        LoadingElementDuration = 2000
    }))
{
    <fieldset>
        <legend>表单验证</legend>
        @Html.HiddenFor(model => model.HomeworkID)
        <div id="homework_publish" class="form-horizontal form-position pagew ">
            <div class="form-group">
                <label for="HomeworkName" class="col-sm-2 control-label">作业名称：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="HomeworkName" name="HomeworkName" ng-model="HomeworkName" placeholder="请输入作业名称" required />{{HomeworkName}}
                </div>
            </div>
            <div class="form-group">
                <label for="HomeworkContent" class="col-sm-2 control-label">作业内容：</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="HomeworkContent" name="HomeworkContent" rows="5" placeholder="请输入作业内容" />
                </div>
            </div>
            <div class="form-group">
                <div class="btn-group center-block" style="width: 200px;">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        发布到班级 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="btndeploy">
                        <li><a href="#" value="d5898d4e-b108-4cdc-96ff-66a61515f29c">2015级(01)班</a></li>
                        <li><a href="#" value="6fa3686d-020e-4acf-ac83-d4de14f45034">2015级(07)班</a></li>
                        <li><a href="#" value="edac434e-65f3-4e7d-aa17-62de9c6b9a0c">2015级(08)班</a></li>
                        <li><a href="#" value="6cbe0747-c0e8-4fb2-b9d1-69470a14e50f">2014级(11)班</a></li>
                    </ul>
                </div>
            </div>
            <input type="hidden" id="GuideToStu" name="GuideToStu" />
            <div class="form-group">
                <ul id="validmsg"></ul>
            </div>
        </div>
    </fieldset>
}

<script>
    $("#btndeploy li a").click(function () {
        var bjid = $(this).attr("value");
        $("#GuideToStu").val(bjid);
        $("form").submit();
    })
    $(document).ready(function () {
        var validator = $("form").validate({
            rules: {
                HomeworkName: "required",
                HomeworkContent: "required"
            },
            messages: {
                HomeworkName: "请输入作业名称",
                HomeworkContent: "请输入作业内容"
            },
            errorClass: "red",//设置错误样式
            errorElement: "label",//设置显示错误提示的控件,默认为<label>
            errorLabelContainer: "#validmsg",//指定错误信息放置容器
            wrapper: "li",
            //errorPlacement: function (error,element) { //指定错误信息放置位置
            //    error.appendTo($("#validmsg"));
            //},
            //debug: true//进行调试模式（表单不提交）
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    success: function (data) {
                        if (data.Data.statuscode == 200) {
                            var obj = "<div id='operresultmsg' class='alert alert-success center-block' role='alert'>作业发布成功！</div>";
                            $("form").append(obj);
                            validator.resetForm();//重置表单                          
                            $("#HomeworkID").val(Guid.NewGuid().ToString());//动态生成newid
                            setTimeout(function () {
                                $("#operresultmsg").remove();
                            }, 2000);
                        } else {
                            var obj = "<div id='operresultmsg' class='alert alert-danger center-block' role='alert'>发布失败，请重试！<p style='display:none'>" + data.Data.msg + "</p></div>";
                            $("form").append(obj);
                            setTimeout(function () {
                                $("#operresultmsg").remove();
                            }, 2000);
                        }
                    }
                })
            }
            //onsubmit: false,//是否提交时验证，默认为True,用于设置某一个不需要验证的控件
            //onfocusin: false,//是否获取焦点时验证，默认为True
            //onkeyup: false,//是否在敲击键盘时验证，默认为True
            //onclick: false//是否在鼠标点击时验证，默认为True
        })
    })
</script>
