@using UCHome.Model;
@model MyClass
@{
    if (Model == null)
    {
    @Html.Raw("<li class=\"noinfo\">没有找到相应的任何信息！</li>")
        return;
    }
}
<style>
    #modal-students ul li {
        float: left;
        margin: 5px;
    }
</style>
<div class="dtitle"><a target="_blank" href="@Url.Action("ClassIndex","ClassCenterInfo")?bjid=@Model.bjid&bjmc=@Model.bjmc">@(Model.bjmc)学生</a></div>
<div class="dpicture">
    <ul id="Stulist">
    </ul>
</div>
<div class="more" data-toggle="modal" data-target="#mystudents">查看更多</div>
<div class="modal fade" id="mystudents" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@(Model.bjmc)学生</h4>
            </div>
            <div id="modal-students" class="modal-body clearfix">
                <ul id="Studentlists">
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<script>
    //填充课表
    $.ajax({
        url: "@Url.Content("~/ashx/GetClassStuInfo.ashx")",
        data: { bjid: "@Model.bjid", xxid: "@Model.xxid" },
        success: function (data) {
            var kb = eval("(" + data + ")"); //
            $.each(kb, function (idx, item) {
                var xsid = item.xsid;
                var xm = item.xm;
                var xb = item.xb;
                //var zp = item.zp;
                var obj, obj2;
                var url = "@Url.Action("Query", "StudentCenter")?id=" + xsid;
                obj2 = "<li><a href=\"" + url + "\" class=\"btn btn-info btn-sm active\" role=\"button\">" + xm + "</a></li>";
                if (xb == "2") {
                    obj = "<li><a href='" + url + "'><dl><dd class=\"photo\"><img class=\"img-circle\" src=\"@Url.Content("~/Content/images/male.png")\" border=\"0\" width=\"40\" height=\"40\" /></dd><dd class=\"info\">" + xm + "</dd></dl></a></li>";
                }
                else {
                    obj = "<li><a href='" + url + "'><dl><dd class=\"photo\"><img class=\"img-circle\" src=\"@Url.Content("~/Content/images/man.png")\" border=\"0\" width=\"40\" height=\"40\" /></dd><dd class=\"info\">" + xm + "</dd></dl></a></li>";
                }
                if (idx < 6)
                    $("#Stulist").append($(obj));
                $("#Studentlists").append($(obj2));
            });
        }
    })
</script>
