<link type="text/css" href="@Url.Content("~/angular/uchome/studentaskleave/studentaskleave.css")" rel="stylesheet" />
<link rel="stylesheet" href="@Url.Content("~/plugs/datetimepicker/css/bootstrap-datetimepicker.css")">
<script src="@Url.Content("~/plugs/datetimepicker/js/bootstrap-datetimepicker.min.js")"></script>
<script src="@Url.Content("~/plugs/datetimepicker/js/bootstrap-datetimepicker.zh-CN.js")"></script>
<form class="form-horizontal forform" name="myform" >
    <div class="form-group">
        <label for="LeaveType" class="col-sm-2 control-label">请假类型:</label>
        <div class="col-sm-3">
            <select class="form-control" id="LeaveType" ng-model="type" ng-init="type='事假'">
                <option value="事假">事假</option>
                <option value="病假">病假</option>
                <option value="其他">其他</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="StartTime" class="col-sm-2 control-label">开始时间:</label>
        <div class="col-sm-4">
            <div class="input-group date" id="StartTime" >
                <input type="text" class="form-control"  name="start" required placeholder="请选择时间">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="EndTime" class="col-sm-2 control-label">结束时间:</label>
        <div class="col-sm-4">
            <div class="input-group date" id="EndTime" >
                <input type="text" class="form-control" name="end" required placeholder="请选择时间">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="LeaveHours" class="col-sm-2 control-label">请假时长:</label>
        <div class="col-sm-9">
            <div class="col-xs-5" style="padding: 0">
                <input class="form-control" name="LeaveHours" type="number" min="0" step="0.01" id="LeaveHours" required placeholder="请输入时长" />
            </div>
            <span class="col-xs-2" style="line-height: 34px">小时</span>
        </div>
        
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="LeaveReasonIntro">详细原因:</label>
        <div class="col-sm-8">
            <textarea id="LeaveReasonIntro"ng-model="LeaveReasonIntro" required class="form-control" rows="5" placeholder="请简要说明原因"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="AuditorName">审批人:</label>
        <div class="col-sm-4">
            <input type="text" id="AuditorName" ng-model="AuditorName" ng-init="AuditorName='@ViewBag.teacherName'==''?'该学生班级没有设置班主任':'@ViewBag.teacherName'" class="form-control" disabled="disabled" id="teacherName" />
            <input type="hidden" id="AuditorId" ng-model="AuditorId" ng-init="AuditorId='@ViewBag.teacherId'" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-1">
            <input type="submit" ng-click="Submit(myform.$valid)" ng-disabled="'@ViewBag.teacherId'==''" class="btn btn-success" value="提交" />
        </div>
        <div class="col-sm-offset-1 col-sm-1">
            <input type="reset" class="btn  btn-warning" value="重置"/>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function() {
        
    })
</script>