@model UCHome.Model.UserInfo
@using UCHome.Controllers;
@{
    // HttpCookie httpCookie = Request.Cookies["ThemeSkin"];
    HomeController home = new HomeController();
}
@if (home.ThemeSkin != null)
{
    <link href="@Url.Content("~/Content/css/theme/" + home.ThemeSkin + ".css")" rel="stylesheet" />
}
else
{
    <link href="@Url.Content("~/Content/css/theme/skin1.css")" rel="stylesheet" />
}
<ul class="portal">
    <li class="logo"><a href="@Url.Action("Index", "Login")">新时代中高职智慧校园</a></li>
    <li><span class="glyphicon glyphicon-home"></span><a href="@Url.Action("Index", "Home")">个人主页</a></li>
    @if (Model.usertype.ToUpper() == "T")
    {
        <li class="selected "><span class="glyphicon glyphicon-user"></span><a href="@Url.Action("Index", "TeacherCenter")">个人中心</a></li>
        <li><span class="glyphicon glyphicon-th-large"></span><a href="@Url.Action("Index", "AppCenter")">应用中心</a></li>
        <li><span class="glyphicon glyphicon-th-list"></span><a href="@Url.Action("Index", "MyResource")">资源中心</a></li>
        <li><span class="glyphicon glyphicon-heart"></span><a href="@Url.Action("HailFellow", "FollowUserCenter")">好友</a></li>
    }
    else if (Model.usertype.ToUpper() == "S")
    {
        <li class="selected "><span class="glyphicon glyphicon-user"></span><a href="@Url.Action("Index", "StudentCenter")">个人中心</a></li>
        <li><span class="glyphicon glyphicon-th-large"></span><a href="@Url.Action("Index", "AppCenter")">应用中心</a></li>
        <li><span class="glyphicon glyphicon-heart"></span><a href="@Url.Action("HailFellow", "FollowUserCenter")">好友</a></li>
    }
    else if (Model.usertype.ToUpper() == "P")
    {
        <li><span class="glyphicon glyphicon-th-large"></span><a href="@Url.Action("Index", "AppCenter")">应用中心</a></li>
    }
    else
    {
        <li><span class="glyphicon glyphicon-th-large"></span><a href="@Url.Action("Index", "AppCenter")">应用中心</a></li>
        <li><span class="glyphicon glyphicon-cog"></span><a href="@Url.Action("Index", "SysManage")">系统管理</a></li>
    }
</ul>
<ul class="login">
    <li><span class="glyphicon glyphicon-arrow-up"></span><a href="#top">返回顶部</a></li>
    <li><span class="glyphicon glyphicon-log-out"></span><a href="@Url.Action("Logout", "AppCenter", new { returnurl = Request.Url })">【退出】</a></li>
    <li><span class="glyphicon glyphicon-tree-deciduous"></span>@Html.Action("UserSkinSet")</li>
</ul>



