@{
    Layout = null;
}
@using System.Web.Mvc
@using M = OA.Model;
<style type="text/css">
    .pd {
        padding-left: 0px;
        padding-right: 0px;
    }

    .h {
        height: 34px;
        line-height: 34px;
    }

    .lic {
        float: left;
        margin-right: 10px;
        height: 33px;
        line-height: 33px;
    }

    .w {
        width: 450px;
    }
</style>

<div id="noticeSend" class="form-horizontal form-position pagew " style="margin-bottom: 0px; margin-top: 0px;">
    <div class="form-group">
        <label for="Time" class="col-sm-2 control-label">请假时间：</label>
        <div class="col-sm-9 pd h">
            @Model.StartDate 至 @Model.EndDate
        </div>
    </div>
    <div class="form-group">
        <label for="Memo" class="col-sm-2 control-label">请假时长：</label>
        <div class="col-sm-9 pd h">
            @Model.Memo 天
        </div>
    </div>
    <div class="form-group">
        <label for="CJR" class="col-sm-2 control-label">请假类型：</label>
        <div class="col-sm-9 pd">
            @Model.CJR
        </div>
    </div>
    <div class="form-group">
        <label for="Reason" class="col-sm-2 control-label">请假说明：</label>
        <div class="col-sm-9 pd h">
            @Model.Reason
        </div>
    </div>
    <div class="form-group">
        <label for="Status" class="col-sm-2 control-label">审核状态：</label>
        <div class="col-sm-9 pd h">
            @Model.Status
        </div>
    </div>

    <div class="form-group">
        <label for="Status" class="col-sm-2 control-label">转交流程：</label>
        <div class="col-sm-9 pd h">
            @Model.Comment2
        </div>
    </div>

    <div class="form-group">
        <label for="Approver" class="col-sm-2 control-label">审核人：</label>
        <div class="col-sm-8 pd">
            <ul>
                @{
                    if (@Model.Status == "未审核")
                    {
                        <li class="lic">
                            <a class="btn " role="button">@ViewBag.Approver1</a>
                        </li>
                        @*<li class="lic">
                            <a class="btn" role="button">@ViewBag.Approver2</a>
                        </li>*@
                    }
                    else if (@Model.Status == "主管部门已审核")
                    {
                        <li class="lic">
                            <a class="btn btn-info btn-sm active" role="button">@ViewBag.Approver1</a>
                        </li>
                        @*<li class="lic">
                            <a class="btn" role="button">@ViewBag.Approver2</a>
                        </li>*@
                    }
                    else
                    {
                        <li class="lic">
                            <a class="btn btn-info btn-sm active" role="button">@ViewBag.Approver1</a>
                        </li>
                        @*<li class="lic">
                            <a class="btn btn-info btn-sm active" role="button">@ViewBag.Approver2</a>
                        </li>*@
                    }
                }
            </ul>
        </div>
    </div>

</div>
